<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="ianchen">
	<meta name="description" content="快來參加F2E X KKBOX體驗Open API">
	<script src="vue.min.js"></script>
	<script src="vue-function-api.umd.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="manifest" href="https://ianchen0119.github.io/musictogether/manifest.json">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
  	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  	<meta name="apple-mobile-web-app-title" content="musictogether">
	<link rel="apple-touch-startup-image" href="images/splash.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
	<link rel="apple-touch-startup-image" href="images/splash.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
	<link rel="apple-touch-startup-image" href="images/splash.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
	<link rel="apple-touch-startup-image" href="images/splash.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
	<link rel="apple-touch-icon" href="https://ianchen0119.github.io/musictogether/images/icon.png" sizes="128x128">
	<link rel="apple-touch-icon" href="https://ianchen0119.github.io/musictogether/images/icon256.png" sizes="256x256">
	<style>
	</style>
	<title>F2E X KKBOX</title>
</head>
<body>
	<div id="app">
		<div class="navbar">
			<img class="logo" src="images/logo.png">
			<input type="text" v-model="search" class="searchbar">
			<button @click="searchbar" class="searchbtn">search</button>
			<button id="login" class="searchbtn"><a class="login" href="https://account.kkbox.com/oauth2/authorize?redirect_uri=https%3A%2F%2Fianchen0119.github.io%2Fmusictogether%2F&client_id=b09edcab8ba6c5a20e7d3622ed17761e&response_type=code&state=123">login</a></button>
		</div>
		<div class="searchreponse" v-if="accesstoken !== 'uncatch'">
			<div class="block" v-for="(data ,index) in searchreponse" v-if="index>page-2&&index<page+3">
				<img class="blockimg" :src="data.album.images[0].url" alt="封面圖片">
				<a class="blocktitle" :href="data.url"><p>{{data.name}}</p></a>
				<button @click="playbyyoutube(data.name)">Youtube</button>
				<button @click="getsrc(index)">audition</button>
			</div>
		<div class="pagecontrol">
			<button class="pagebtn" @click="pageminus"><</button>
			<button class="pagebtn" @click="pageplus">></button>
		</div>
		<div class="rank">
		<h1>華語單日Top5</h1>
		<div class="rankblock" v-for="(data ,index) in rankreponse">

			<div class="container">
			<img :src="data.album.images[0].url" alt="封面圖片">
			<a :href="data.url"><p>{{data.name}}</p></a>
			</div>

		</div>
		</div>
		</div>

		<div class="searchreponse" v-else>
		請登入!
		</div>

		<div class="player">
	    <object class="youtube" id="player" type="text/html" width="640" height="390" :data="youtubesrc" frameborder="0" v-if="videoId !== 'uncatch'"></object>
	  	</div>
	</div>
	<iframe id="kkbox" src="" frameborder="0"></iframe>
	<footer>
	<a href="https://ithelp.ithome.com.tw/users/20110850">about me</a>
	<a href="https://github.com/ianchen0119">github</a>
	</footer>
	<script type="text/javascript" src="main.js"></script>
	<script>
	navigator.serviceWorker.register('service-worker.js')
        .then(function (registration)
        {
          console.log('Service worker registered successfully');
        }).catch(function (e)
        {
          console.error('Error during service worker registration:', e);
        });
	</script> 
</body>
</html>
